ClassLibrary1/bin/Debug/ClassLibrary1.dll
ClassLibrary1/bin/Debug/ClassLibrary1.pdb
ClassLibrary1/bin/Debug/WebDriver.dll
ClassLibrary1/bin/Debug/WebDriver.Support.dll
ClassLibrary1/bin/Debug/WebDriver.Support.xml
ClassLibrary1/bin/Debug/WebDriver.xml
ClassLibrary1/obj/Debug/AutomatedTests.csproj.FileListAbsolute.txt
ClassLibrary1/obj/Debug/AutomatedTests.csprojResolveAssemblyReference.cache
ClassLibrary1/obj/Debug/ClassLibrary1.csproj.FileListAbsolute.txt
ClassLibrary1/obj/Debug/ClassLibrary1.dll
ClassLibrary1/obj/Debug/ClassLibrary1.pdb
ClassLibrary1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ClassLibrary1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ClassLibrary1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ClassLibrary1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestProject/bin/Debug/ClassLibrary1.dll
TestProject/bin/Debug/ClassLibrary1.pdb
TestProject/bin/Debug/nunit.framework.dll
TestProject/bin/Debug/nunit.framework.xml
TestProject/bin/Debug/TestProject.dll
TestProject/bin/Debug/TestProject.pdb
TestProject/bin/Debug/WebDriver.dll
TestProject/bin/Debug/WebDriver.Support.dll
TestProject/bin/Debug/WebDriver.Support.xml
TestProject/bin/Debug/WebDriver.xml
TestProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestProject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestProject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestProject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestProject/obj/Debug/TestProject.csproj.FileListAbsolute.txt
TestProject/obj/Debug/TestProject.csprojResolveAssemblyReference.cache
TestProject/obj/Debug/TestProject.dll
TestProject/obj/Debug/TestProject.pdb
TestResults/AutomatedWebTestsProject.TE.Tests.mdf
TestResults/AutomatedWebTestsProject.TE.Tests_log.ldf
AutomatedTests/bin/Debug/AutomatedTests.dll
AutomatedTests/bin/Debug/AutomatedTests.pdb
AutomatedTests/bin/Debug/ClassLibrary1.dll
AutomatedTests/bin/Debug/ClassLibrary1.pdb
AutomatedTests/bin/Debug/WebDriver.dll
AutomatedTests/bin/Debug/WebDriver.Support.dll
AutomatedTests/bin/Debug/WebDriver.Support.xml
AutomatedTests/bin/Debug/WebDriver.xml
AutomatedTests/obj/Debug/AutomatedTests.csproj.FileListAbsolute.txt
AutomatedTests/obj/Debug/AutomatedTests.csprojResolveAssemblyReference.cache
AutomatedTests/obj/Debug/AutomatedTests.dll
AutomatedTests/obj/Debug/AutomatedTests.pdb
AutomatedTests/obj/Debug/ClassLibrary1.csproj.FileListAbsolute.txt
AutomatedTests/obj/Debug/ClassLibrary1.dll
AutomatedTests/obj/Debug/ClassLibrary1.pdb
AutomatedTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutomatedTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutomatedTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutomatedTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestProject/bin/Debug/AutomatedTests.dll
TestProject/bin/Debug/AutomatedTests.pdb
TestProject/bin/Debug/Logs/Inicjalizator00_14_00.txt
TestProject/bin/Debug/Logs/Inicjalizator23_14_44.txt
TestProject/bin/Debug/Logs/Inicjalizator23_25_03.txt
TestProject/bin/Debug/Logs/Inicjalizator23_27_30.txt
TestProject/bin/Debug/Logs/Inicjalizator23_38_15.txt
TestProject/bin/Debug/Logs/Inicjalizator23_44_40.txt
TestProject/bin/Debug/Logs/Inicjalizator23_48_40.txt
TestProject/bin/Debug/WebLogger.dll
TestProject/bin/Debug/WebLogger.pdb
WebLogger/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebLogger/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebLogger/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebLogger/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebLogger/obj/Debug/WebLogger.csproj.FileListAbsolute.txt
WebLogger/obj/Debug/WebLogger.dll
WebLogger/obj/Debug/WebLogger.pdb
WebLogger/bin/Debug/WebLogger.dll
WebLogger/bin/Debug/WebLogger.pdb

TestProject/bin/Debug/Logs/Inicjalizator19_20_20.txt
TestProject/bin/Debug/Logs/Inicjalizator19_25_35.txt
TestProject/bin/Debug/Logs/Inicjalizator19_28_02.txt
TestProject/bin/Debug/Logs/Inicjalizator19_30_46.txt
TestProject/bin/Debug/Logs/Inicjalizator19_33_47.txt
TestProject/bin/Debug/Logs/Inicjalizator19_35_36.txt
TestProject/bin/Debug/Logs/Inicjalizator19_46_54.txt
TestProject/bin/Debug/Logs/Inicjalizator19_47_53.txt
TestProject/bin/Debug/Logs/Inicjalizator20_58_26.txt
TestProject/bin/Debug/Logs/Inicjalizator22_21_42.txt
TestProject/bin/Debug/Logs/Inicjalizator22_22_13.txt
